<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59821550598-n0i5uvt3deqs3oo1497u0atqavb5s79t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59821550598-n0i5uvt3deqs3oo1497u0atqavb5s79t</string>
	<key>API_KEY</key>
	<string>AIzaSyD8fYJSSVGKpc-Ks7SpbueRvigQandktp8</string>
	<key>GCM_SENDER_ID</key>
	<string>59821550598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambulanceAlertApp</string>
	<key>PROJECT_ID</key>
	<string>ambulance-3e451</string>
	<key>STORAGE_BUCKET</key>
	<string>ambulance-3e451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59821550598:ios:dff56b86e75c67a81aa787</string>
</dict>
</plist>